*{
    padding: 0px;
    margin: 0px;
}
/* .container{
    height: 100%;
    width:100%;
    background-color:green;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
    position: absolute;

} */


.menu-container{
    display: flex;
    justify-content:space-evenly;
    background-color:black;
    padding: 15px;
    color: white;
}

.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10;
    font-size: 18px;
}
.menu-items li:hover{
    color: blue;
    cursor: pointer;
}
.banner-container{
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color:black
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size:24px;

}
.title1{
    font-size:60px;
    font-weight: bold;
    margin: 10px;

}
.text{
    font-size: 25px;
    margin: 10px;
}
.banner-btn{
    padding: 18px 38px;
    background-color:rgb(244, 6, 45);
    margin: 10px;
    font-size:18px;
    color: white;
}

